body{
    margin: auto;
    text-align: center;
    background-color: #AFAEAA;
    font-family: 'Inria Serif', serif;
}
header{
    margin-bottom: 1%;
}
nav{
    margin-top: 1%;
    margin-left: auto;
    margin-right: 2.5%;
    display: flex;
    justify-content: space-between;
    background-color: #FFE500;
    width: 95%;
    border: 1px solid black;
    border-radius: 26px;
}
nav button{
    margin-left: 1%;
    border-radius: 26px;
    border: 1px solid black;
    background-color: #AFAEAA;
    padding-left: 2%;
    padding-right: 2%;
    transform: scale(0.7);
}
nav img{
    width: 30px;
    height: 30px;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin-right: 1%;
    width: 45%;
}
nav ul li{
    width: 100%;
    display: inline;
    padding: 2vh;
    background-color: #AFAEAA;
    border: 1px solid black;
    border-radius: 26px;
}
nav ul li:hover{
    background-color: white;
}
.active{
    background-color: white;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
main{
    margin: auto;
    display: flex;
    width: 80%
}

.container{
    background-color: #FFE500;
    border: 1px solid black;
    border-radius: 26px;
    width: 55%;
    margin-bottom: auto;
    justify-items: center;
}

.container form{
    justify-items: center;
    display : grid;
    width: 75%;
}
.container select{
    background-color: #DCD7A3;
    text-align: center;
    width: 90%;
    border: 1px solid black;
    color: black;
    padding: 3%;
    border-radius: 26px;
    margin-bottom: 10%;
}
.container form input{
    background-color: #DCD7A3;
    font-size: 1.5em;
    width: 100%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 26px;
    margin-bottom: 10%;
}
.container form input::placeholder{
    color: black;
}
.container button{
    background-color: #AFAEAA;
    border: 1px solid black;
    border-radius: 26px;
    padding: 2% 4% 2% 4%;
    margin-bottom: 10%;
    transform: scale(1.5);
}
.container p{
    font-size: 30px;
    width: 50%;
}
#registro{
    background-color: #AFAEAA;
    border: 1px solid black;
    border-radius: 26px;
    padding: 10% 20% 10% 20%;
    margin-bottom: 60%;
    transform: scale(1.5);
}
.linea-vertical {
    width: 1px;             
    height: auto;          
    background-color: #0000004e;
    border: #0000004e solid 1px;
  }
  .linea-horizontal {
    width: 100%;           
    background-color: #000000;
    border: #000000 solid 1px;
    
  }

.comunidad{
    text-align: center;
    margin-left: auto;
    background-color: #FFE500;
    width: 12.5%;
    border: 1px solid black;
    border-radius: 26px;
    margin-bottom: auto;
}
.comunidad ul{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    padding: 1%;
    width: 100%;
}
.comunidad ul li{
    padding: 10%;
    margin-bottom: 5%;
    margin-left: 15%;
    width: 45%;
    background-color: #AFAEAA;
    border-radius: 26px;
}